/* Styles Fonts */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

/* Styles Main */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* Styles Main Content */
.main_content {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 105px 90px 90px;
}

/* Styles About */
.about {
    margin-bottom: 40px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;     
    margin-bottom: 20px;   
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* Styles Projects */
.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project_list {
    padding: 0;
    margin-left: 18px;
}

.project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, 
.project_link{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;  
    color: #595959;
}

.project_link {
    margin-left: 10px;
}

.project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* Styles Work */
.work {

}

.work_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organisation {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;  
    color: #FB6D3A;
    margin-bottom: 10px;
}

.department {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0;
    margin: 17px;
}

.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Styles Education */
.education {
}

/* Styles Sidebar */
.sidebar {
    width: 370px;
    background-color: #1e2939;
    padding-top: 40px;
}

/* Styles Photo */
.photo {
    width: 370px;
    margin-bottom: 50px;
}

/* Styles Sidebar title */
.sidebar_title {
    margin-bottom: 10px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

/* Styles Contacts, Tech Skills, Soft SKills */
.contacts, 
.tech_skills, 
.soft_skills {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}


/* Styles Contact Type */
.contact_type {
    margin-right: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Styles Contact Link */
.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}

/* Styles Tech Skills List */
.tech_skills_list {
    color: #fff;
    padding: 0px;
    margin-left: 16px;
}

/* Styles Tech Skills Text */
.tech_skills_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

/* Styles Tech Skills Item */
.tech_skills_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}

/* Styles Soft Skills List */
.soft_skills_list {
    color: #fff;
    padding: 0px;
    margin-left: 16px;
}

/* Styles Soft Skills Text */
.soft_skills_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

/* Styles Soft Skills Item */
.soft_skills_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}